* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color: #000;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.clearfix {
  &:before, &:after {
    display: table;
    content: ' ';
  }

  &:after {
    clear: both;
  }
}

@import 'variables';
@import 'fonts';
@import 'header';
@import 'main';
@import 'footer';
@import 'home';
@import 'blog';
@import 'side-projects';
@import 'prism';
@import 'image-zoom';
@import 'pokemon-go/map';
