.banner {
  background: url(/img/stockholm640.jpg) no-repeat;
  background-size: contain;
  width: 100%;
  padding-bottom: 68.75%;
}

.about-me {
  padding: 20px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: right;
    margin: 0 0 20px 20px;
  }

  a {
    color: #41b7d8;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #41b7d8;
    }
  }
}

.latest-blog {
  padding: 0 20px 30px 20px;

  h2 {
    font-size: 24px;
    margin: 0;
  }

  .entry {
    margin: 20px 0;
    display: block;
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
  }

  .title {
    font-weight: 700;
  }

  .excerpt {
    margin-top: 5px;
    color: #aaa;
  }
}

@media (min-width: 641px) {

  .home {
    margin: 30px auto;
    padding: 0 20px;
  }

  .banner {
    background-image: url(/img/stockholm1200.jpg);
    padding-bottom: 36.67%;
  }

  .about-me {
    padding: 0 0 0 60px;
    width: 640px;
    float: right;

    img {
      width: 150px;
      height: 150px;
      border-radius: 75px;
      float: right;
      margin: 0 0 40px 40px;
    }
  }

}

@media (min-width: 1201px) {

  .banner {
    background-image: url(/img/stockholm1600.jpg);
    padding-bottom: 27.5%;
  }

  .home {
    max-width: 1200px;
    margin: 60px auto;
  }

  .about-me {
    padding: 0 0 0 60px;
    width: 640px;
    float: right;

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      float: right;
      margin: 0 0 40px 40px;
    }
  }

}

@media (min-width: 1601px) {

  .banner {
    background-image: url(/img/stockholm1920.jpg);
    padding-bottom: 22.92%;
  }

  .home {
    max-width: 1400px;
    margin: 60px auto;
  }

  .about-me {
    padding: 0 0 0 100px;
    width: 800px;
    float: right;

    img {
      margin: 0 0 60px 60px;
    }
  }

}