#home {
  width: 100%;

  .banner {
    background: url('../../public/img/fukuoka640.jpg') no-repeat,
      linear-gradient(to bottom, #a9c7e2 12.5%, #6a96b4 37.5%, #4d7388 62.5%, #807c62 87.5%);
    background-size: contain;
    width: 100%;
    padding-bottom: 68.75%; // width / height of background image, with the last digit rounded up

    @media #{$breakpoint-sm} {
      background-image: url('../../public/img/fukuoka1024.jpg'),
        linear-gradient(to bottom, #a1c1de 12.5%, #5f89a5 37.5%, #446778 62.5%, #61624d 87.5%);
      padding-bottom: 42.97%;
    }

    @media #{$breakpoint-lg} {
      background-image: url('../../public/img/fukuoka1400.jpg'),
        linear-gradient(to bottom, #87afcd 12.5%, #5c859f 37.5%, #3f6985 62.5%, #56614d 87.5%);
      padding-bottom: 31.43%;
    }

    @media #{$breakpoint-xl} {
      background-image: url('../../public/img/fukuoka1920.jpg'),
        linear-gradient(to bottom, #6694b3 12.5%, #5d849e 37.5%, #3f6987 62.5%, #496565 87.5%);
      padding-bottom: 22.92%;
    }
  }

  main {
    margin: 0 auto;
  }

  .about-me {
    padding: 25px 0 15px 0;

    .image-container {
      min-width: 100px;
      max-width: 200px;
      width: 33%;
      height: auto;
      float: right;
      margin: 0 0 15px 15px;
    }

    a {
      color: #41b7d8;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #41b7d8;
      }
    }

    @media #{$breakpoint-sm} {
      .image-container {
        margin: 0 0 30px 30px;
      }
    }

    @media #{$breakpoint-lg} {
      padding: 0 0 0 40px;
      width: 50%;
      float: right;

      .image-container {
        margin: 0 0 40px 40px;
      }
    }

    @media #{$breakpoint-xl} {
      width: 60%;

      .image-container {
        margin: 0 0 60px 60px;
        max-width: 400px;
      }
    }
  }

  .latest-blog {
    h2 {
      font-size: 18px;
      margin: 0;
    }

    .entry {
      display: block;
      text-decoration: none;
      border-bottom: 0;
      padding: 20px 0;
      border-bottom: 1px solid #eee;
      color: #222;

      &:last-child {
        border-bottom-color: transparent;
      }
    }

    .title {
      font-weight: 700;
      margin-bottom: 10px;
      color: #000;
    }

    .excerpt {
      margin-top: 5px;
    }

    @media #{$breakpoint-lg} {
      width: 50%;

      h2 {
        font-size: 24px;
      }

      .entry {
        padding: 30px 0;
      }
    }

    @media #{$breakpoint-xl} {
      width: 40%;
    }
  }

}
