#side-projects {
  padding: 15px;

  h2 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    margin: 0;
    font-size: 16px;
  }

  .project {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    margin: 30px 0;
    padding-bottom: 30px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  .content {
    .title {
      display: flex;
      margin-bottom: 20px;

      .status-container {
        margin-left: auto;
        padding-left: 15px;
      }

      .status {
        color: #fff;
        font-size: 16px;
        padding: 4px 6px;
        display: inline-block;
        white-space: nowrap;

        &.in-progress {
          background-color: #4f529b;
        }

        &.complete {
          background-color: #569b1b;
        }

        &.inactive {
          background-color: #9b0000;
        }
      }
    }

    .description {
      white-space: pre-wrap;
    }
  }

  .image-container {
    width: 100%;
    margin-top: 30px;

    &:hover {
      border: 0;
    }
  }

  .links {
    margin-top: 30px;

    > div:last-child ul {
      margin-bottom: 0;
    }

    a {
      color: #41b7d8;
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: #41b7d8;
      }
    }
  }

  @media #{$breakpoint-lg} {
    max-width: 980px;

    .links {
      padding-right: 30px;
      width: calc(100% - 600px);
    }

    .image-container {
      width: 600px;
      order: 1;
    }
  }

  @media #{$breakpoint-xl} {
    max-width: 1400px;

    .project {
      position: relative;
    }

    .content,
    .links {
      width: 770px;
      padding-right: 60px;
    }

    .links {
      display: flex;

      > div:first-child {
        margin-right: 60px;
      }
    }

    .image-container {
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}