doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='description', content= metaDescription)
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
        title= title
        style
            include ../public/css/base.css
    body
        include header
        block content
        script
            include ../public/js/scripts.min.js