doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='description', content=metaDescription)
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
        link(rel='icon', href='/img/favicon.ico')
        title #{title}
        //- Allows CSS injection during development, while inlined in production.
        //- If CSS gets too large, inline only on first load
        if development
            link(rel='stylesheet', type='text/css', href='/css/base.css')
        else
            style
                include ../public/css/base.css
        script(src='/js/scripts.min.js', defer)
        block js
        include googleAnalytics
    body
        include header
        block main
        include footer