doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='description', content=metaDescription)
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1')
        link(rel='icon', href='/img/favicon.ico')
        title #{title}
        style
            include ../public/css/base.css
        include googleAnalytics
    body
        include header
        block content
        include footer
        script
            include ../public/js/scripts.min.js
        block js