footer
    .details © 2016 - 2017 Johan Li
    .links
        a(href='mailto:johan@johanli.com')
            include ../public/img/email.svg
            div johan@johanli.com
        a(href='https://github.com/JohanLi')
            include ../public/img/github.svg
            div JohanLi