header.navbar-container
    .navbar
        .hamburger-menu
            .top
            .mid
            .bottom
        .logo
            a.logo(href='/') Johan Li
    nav.items
        ul
            li
                a(href='/', class=(navitem === 'home' ? 'active' : '')) Home
            li
                a(href='/blog', class=(navitem === 'blog' ? 'active' : '')) Blog
            li
                a(href='/side-projects', class=(navitem === 'side-projects' ? 'active' : '')) Side Projects
