extends base

block content
    <div class="banner"></div>
    .home
        .about-me
            p
            img(src='/img/johan.jpg', alt='Johan Li')
            | Hi, I'm Johan Li. I work at #[a(href="https://en.wikipedia.org/wiki/Paradox_Interactive") Paradox Interactive] as a web developer, building our e-commerce platform and online services.
            p
            | What fascinates me is how complex and fast-moving of a world we live in, not least in the tech industry.
            | It's interesting to reflect over how tech has changed society, as well as predict what will happen in the future.
        .latest-blog
            h2 Latest Blog Posts
            a.entry(href='/blog')
                .title Two Tips for Improving Your Resume
                .excerpt
                    | It’s undeniable that being able to write a good resume is one factor that will help you
                    | land a job. At the same time, it’s a skill that many don’t pay enough attention to in my opinion...