extends base

block content
    .pokemon-go
        h2 Pokestops and Gyms in Stockholm
        .map

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDpE5w-i9GioIey5bQy5bmcZpdV964O_9c&callback=initMap', async, defer)