.pokemon-go {
  width: 980px;
  padding: 60px 0;

  h2 {
    margin: 0 0 20px 0;
  }

  .map {
    width: 100%;
    height: 600px;
    margin: 40px 0 20px 0;
  }

  .controls {
    text-align: right;
  }

  label {
    padding: 10px;
    display: inline-flex;
    align-items: center;

    input[type=checkbox] {
      margin-right: 10px;
    }
  }
}

