@import './variables';

.loading {
  display: flex;
  height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;

  svg {
    width: 160px;
    height: 40px;
    fill: #eee;
    margin-top: -100px;
  }

  @media #{$breakpoint-lg} {
    svg {
      margin-top: -200px;
    }
  }
}
