extends ../base

block content
    .pokemon-go
        h2 Pokestops and Gyms in Stockholm
        .map
        .controls
            label
                input(checked, type='checkbox', class='pokestops')
                | Pokestops
            label
                input(type='checkbox', class='gyms')
                | Gyms

    script(src='/js/markerclusterer.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDpE5w-i9GioIey5bQy5bmcZpdV964O_9c&callback=PokemonGoMap.init', async, defer)
