extends ../base

block head
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDpE5w-i9GioIey5bQy5bmcZpdV964O_9c&callback=PokemonGoMap.init', defer)

block main
    main.pokemon-go
        h2 Pokestops and Gyms in Stockholm
        .map
        .controls
            label
                input(checked, type='checkbox', class='pokestops')
                | Pokestops
            label
                input(type='checkbox', class='gyms')
                | Gyms
