@import '../variables';

.side-projects {
  padding: 15px;

  h2 {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    margin: 0;
    font-size: 16px;
  }

  .image-container {
    width: 100%;
    margin-top: 30px;

    &:hover {
      border: 0;
    }
  }

  @media #{$breakpoint-lg} {
    max-width: 980px;

    .image-container {
      width: 600px;
      order: 1;
    }
  }

  @media #{$breakpoint-xl} {
    max-width: 1400px;

    .image-container {
      margin-top: 0;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
